// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lucida, Verdana,Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #EFEFEF !default;
$fg-color: #707070 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #707070 !default;
$link-color: #1565c0 !default;

// Colors dark
$bg-color-dark: #494f5c !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #e8eef2 !default;
$link-color-dark: #42a5f5 !default;
$midnightblue: #2c3e50;
$highlight-grey: #7d828a;
